*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* CSS HEX */
    --black: #0a0908ff;
    --night-bordeaux: #49111cff;
    --white-smoke: #f2f4f3ff;
    --dusty-taupe: #a9927dff;
    --stone-brown: #5e503fff;

    /* border: 1px solid red; */
}

h1{
    background-color: var(--dusty-taupe);
    color: var(--night-bordeaux);
    text-align: center;
    padding: 10px;
}

header{
    color: var(--night-bordeaux);
    font-size: 28px;
}

div{
    background-color: var(--white-smoke);
    width: 95%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--black);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div:hover{
    box-shadow: 0px 0px 20px var(--night-bordeaux);
    scale: 1.01;
}


/* From Uiverse.io by cssbuttons-io */ 
button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}
